
body {
    font-size: 12pt;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: 1;
    grid-template-areas: "toc api .";
    grid-gap: 40px;
}

#toc {
    grid-area: toc;
    position: relative;
}

@media screen and (max-width: 800px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas: "api";
    }
    #toc {
        display: none;
    }
}

#toc > ul {
    position: sticky;
    top: 20px;
    margin-top: 64px;
    list-style-type: none;
}

#toc > ul ul {
    padding-left: 30px;
    margin-bottom: 10px;
}

#toc a {
    color: #0277bd;
}

#api {
    grid-area: api;
}

#api .api-function {
    margin: 0 auto;
}

#api .api-function {
    background: #FAFAFA;
    border-radius: 8px;
    padding: 32px;
    margin-top: 64px;
    max-width: 700px;
}

#api .api-function h2 {
    font-family: 'Courier New', Courier, monospace;
}

#api .api-function h2 a {
    color: #0277bd;
}

#api .api-function pre code {
    white-space: pre-wrap;
}

#api .api-function pre code {
    border: 1px solid #333;
    border-radius: 4px;
}

#api .api-function pre.api-code-output {
    position: relative;
    min-height: 22px;
}

#api .api-function pre.api-code-output button {
    position: absolute;
    top: 0px;
    right: 0px;
}

#api .api-function .api-parameter-name {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#api .api-function .api-parameter-type {
    color: #616161;
    font-family: 'Courier New', Courier, monospace;
}
