<menu id="menu">
    <ul>
        <li><a href="index.html">Overview</a></li>
        <li><a href="api.html">API</a></li>
        <li><a href="#">Presentation</a></li>
        <li><a href="https://github.com/AndreasMadsen/tfjs-special">GitHub</a></li>
    </ul>
</menu>
